<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <%- include('../partials/header.ejs')%>      

    <div class="container w-[40%] mx-auto mt-10">
        <h1 class="text-center mb-10">Reset Your Password</h1>
        <div class="w-full rounded-2xl overflow-hidden shadow-2xl mb-6">
        <% if(user){ %>
             <h1 class="text-sm rounded-xl bg-green-100 p-2 mb-10 text-green-400"><i class="fa-solid fa-circle-check mr-2"></i>You're logged in.</h1>
         <%}else{%>
             <h1 class="text-sm rounded-xl bg-red-100 p-2 mb-10 text-red-400"><i class="fa-solid fa-circle-check mr-2"></i>You're not logged n.</h1>
         <%}%>
         

         <% if(formSubmitted){ %>
             <p class="mx-4 text-lg mb-5">If email that you have given us is corect, we have sent email to reset your account.</p>
        <%}else{%>
            <div class="w-[80%] h-auto my-5 mx-auto">
                <h1 class="text-xl font-semibold border-b mb-10">Enter Your Registered Email</h1>
                <form action="/forgot-password" method="post" class="space-y-6">
                    <div class="flex justify-between items-center">
                        <i class="fa-solid fa-envelope text-gray-700"></i>
                        <input type="text" id="email" name="email" placeholder="Enter Your Registered Email"
                            class="form-input w-[90%]" required>
                    </div>                       
                    <% if(errors && errors.length > 0){ %>
                        <div class="bg-red-50 text-red-700 px-4 py-3 rounded-lg border-l-2 border-red-700 pr-5">
                            <% errors.forEach((error)=>{ %>
                                <p><%= error %></p>
                            <% }); %>
                        </div>
                    <% } %>                
                    <button type="submit" class="btn-primary bg-blue-500 w-full py-2 text-white">
                        Submit
                    </button>
                </form>
            </div>
        <%}%>
        </div>
        </div>
    <%- include('../partials/footer.ejs')%>      
    <script src="https://kit.fontawesome.com/f2fbfcb494.js" crossorigin="anonymous"></script> 
</body>
</html>