<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <%- include('../partials/header.ejs')%>      

    <div class="container w-[40%] mx-auto mt-10">
        <h1 class="text-center mb-10">Your Profile</h1>
        <div class="w-full rounded-2xl overflow-hidden shadow-2xl mb-6">
        <% if(user){ %>
             <h1 class="text-sm rounded-xl bg-green-100 p-2 mb-10 text-green-400"><i class="fa-solid fa-circle-check mr-2"></i>You're logged in.</h1>
         <%}else{%>
             <h1 class="text-sm rounded-xl bg-red-100 p-2 mb-10 text-red-400"><i class="fa-solid fa-circle-check mr-2"></i>You're not logged n.</h1>
         <%}%>

         <% if(formSubmitted){ %>
            <p class="mx-4 text-lg mb-5">Password Changed Successfully.</p>
                      <%}else{%>
            <div class="w-[80%] h-auto my-5 mx-auto">
                <h1 class="text-xl font-semibold border-b mb-10">Reset Your Password</h1>
                <form action="/reset-password/<%= token%>" method="post" class="space-y-6">                
                    <div class="flex justify-between items-center">
                        <i class="fa-solid fa-lock text-gray-700"></i>
                        <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password"
                            class="form-input w-[90%]" required>
                        <button type="button" class="toggle-password" data-target="newPassword">
                            <i class="fa-solid fa-eye text-gray-700"></i>
                        </button>
                    </div>       
                    <div class="bg-gray-200">
                        <h1 class="text-lg font-semibold">Password must</h1>
                        <ul class="list-disc text-base px-5 text-gray-500">
                            <li>Be at least 8 characters long</li>
                            <li>Must contain a number</li>
                            <li>Include uppercase and lowercase letters</li>
                        </ul>
                    </div>             
                    <div class="flex justify-between items-center">
                        <i class="fa-solid fa-lock text-gray-700"></i>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password"
                            class="form-input w-[90%]" required>
                        <button type="button" class="toggle-password" data-target="confirmPassword">
                            <i class="fa-solid fa-eye text-gray-700"></i>
                        </button>
                    </div>                                         
                    <button type="submit" class="btn-primary bg-blue-500 w-full py-2 text-white">
                        Submit
                    </button>
                </form>
                <% if(errors && errors.length > 0){ %>
                    <div class="bg-red-50 text-red-700 px-4 py-3 rounded-lg border-l-2 border-red-700 pr-5">
                        <% errors.forEach((error)=>{ %>
                            <p><%= error %></p>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        <%}%>
          </div>
        </div>
    <%- include('../partials/footer.ejs')%>      
    <script src="https://kit.fontawesome.com/f2fbfcb494.js" crossorigin="anonymous"></script>
    <script>
        document.querySelectorAll('.toggle-password').forEach(button => {
            button.addEventListener('click', () => {
                const targetId = button.getAttribute('data-target');
                const input = document.getElementById(targetId);
                const icon = button.querySelector('i');
    
                const isPassword = input.type === 'password';
                input.type = isPassword ? 'text' : 'password';
    
                icon.classList.toggle('fa-eye');
                icon.classList.toggle('fa-eye-slash');
            });
        });
    </script>    
</body>
</html>