<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <%- include('../partials/header.ejs')%>      

    <div class="container w-[40%] mx-auto mt-10">
        <div class="w-full rounded-2xl overflow-hidden shadow-2xl mb-6 bg-red-400 font-bold flex  flex-col justify-center p-5">
                <h1>Invalid Token</h1>
                <div class="w-[60px] bg-blue-600 h-[5px] rounded-2xl mb-5"></div>
                <p class="mx-4 text-base mb-5"><i class="fa-solid fa-circle-exclamation text-red-700 mr-2 text-lg"></i>Looks like your password reset link has either expired, or is invalid.</p>
            </div>
    </div>
    <%- include('../partials/footer.ejs')%>      
    <script src="https://kit.fontawesome.com/f2fbfcb494.js" crossorigin="anonymous"></script> 
</body>
</html>